body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: rgb(233, 233, 233);
  background-color: rgb(26, 9, 58);
}
* {
  margin: 0;
  box-sizing: border-box;
}

.break {
  height: 2px;
  width: 100%;
  background-color: white;
  margin-bottom: 36px;
}

.register {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px;
  min-width: 300px;
  padding: 10px 12px;
}

.cash-label {
  margin-bottom: 6px;
  margin-top: 3px;
}

.btn-bar {
  margin-top: 6px;
}

.change-container {
  font-size: 18px;
}

.drawer {
  background-color: grey;
  max-width: 300px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 6px 10px;
  margin-top: 6px;
}
.stats {
  width: 100%;
  color: black;
  background-color: white;
  border-radius: 6px;
  padding: 6px 10px;
}
